// Styling for navigation of application

.navbar {
  background-color: #565656;
  clear: both;
  width: 100%;
  min-height: 50px;
  border-color: white;
  border-width: 1px;
  border-style: solid;
}
